# URL da API do backend
VITE_API_URL=http://localhost:3000

# URL base do frontend
VITE_BASE_URL=http://localhost:5173

# URL para arquivos públicos do backend
VITE_DATA_URL=http://localhost:5173/public

# Google Fonts
VITE_GOOGLE_FONTS_API=https://www.googleapis.com/webfonts/v1/webfonts

# Crie sua chave em: https://console.cloud.google.com/apis/credentials
VITE_GOOGLE_FONTS_API_KEY=sua_chave_aqui
